
@media (max-width:880px) {

    .login-sec{
        width:100%;
        height:auto;
        border-radius:60px;
        background: #23BDDF;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding:30px;
        margin:10px;
        
    }


    .form-sec{
        width:100%;
        margin:10px;
        height:auto;
        padding:30px;
        border-radius:60px;
        background: #23BDDF;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
    }
}


@media (max-width:400px) {

    .login-sec{
        width:100%;
        height:auto;
        border-radius:60px;
        background: #23BDDF;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding:30px;
        margin:10px;
        
    }

    .form-sec{
        width:100%;
        margin:10px;
        height:auto;
        padding:30px;
        border-radius:60px;
        background: #23BDDF;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
    }
}
