*{
    box-sizing: border-box;
    font-family: arial;
}

body{
    background: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-sec{
    width:40%;
    height:auto;
    border-radius:60px;
    background: #23BDDF;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding:30px;
    margin:100px;
    
}

.msg-log{
    width:100%;
    color:red;
    text-align: center;
}

.login-sec h1{
    text-align: center;
    padding:20px;
    color:white; 
}

.login-sec h1:hover{
    color:white; 
}


.login-sec table tr td{
    font-size: 18px;
    color:white; 
    padding:20px;
}

.login-sec table tr td span{
    width:100%;
}

.login-sec table tr td a{
    color:white; 
    text-decoration: none;
    font-size: 15px;
}


.login-sec table tr td a:hover{
    color:whitesmoke; 
    text-decoration: underline;
}

.login-sec table tr td:hover{
    color:whitesmoke; 
}

.login-sec table tr td input {
    padding:15px;
    border-radius: 15px;
    width:100%;
}

.login-sec table tr td input:focus{
    outline:none;
}

.btn-div{
    width:100%;
    padding:10px;
    text-align: center;
}

.btn{
    padding:15px;
    width:200px;
    color:whitesmoke; 
    border-radius:30px;
    background: rgb(74, 69, 69,0.4);
    border:2px solid rgba(74,69,69,0.4);
}

.btn:hover{
    background: rgb(74, 69, 69,0.6);
    border:2px solid rgba(74,69,69,0.6);
    color:whitesmoke;
}

.form-sec{
    width:40%;
    margin:100px;
    height:auto;
    padding:30px;
    border-radius:60px;
    background: #23BDDF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.form-sec h1{
    text-align: center;
    padding:20px;
    margin:10px;
    color:white; 
}

.form-sec h1:hover{
    color:white; 
}


.form-sec table tr td{
    font-size: 20px;
    padding:20px;
    color:white; 
}

.form-sec table tr td a{
    color:white; 
    text-decoration: none;
    font-size: 15px;
}

.form-sec table tr td span{
    width:100%;
}

.form-sec table tr td a:hover{
    color:white; 
    text-decoration: underline;
}

.form-sec table tr td:hover{
    color:whitesmoke;
}

.form-sec table tr td input {
    padding:15px;
    border-radius: 15px;
    width:100%;
}

.form-sec table tr td input:focus{
    outline:none;
}


.form-sec table tr td select {
    padding:15px;
    border-radius: 15px;
    width:100%;
}

.form-sec table tr td select:focus{
    outline:none;
}


#p-pass{
    visibility: visible;
}

#tock{
    display: block;
    padding:1px;
}
#tock input{
    width:100px;
}
#pock input{
    width:100px;
}

#pock{
    display:none;
    padding:1px;
}

.change-pass{
    font-size: 15px;
    color:whitesmoke; 
    border-radius:30px;
    background: rgb(74, 69, 69,0.4);
    border:2px solid rgba(74,69,69,0.4);
    cursor: pointer;
}

.change-pass:hover{
    background: rgb(74, 69, 69,0.6);
    border:2px solid rgba(74,69,69,0.6);
    color:whitesmoke;
}


.p-a-s{
    display:block;
    float:left;
}

#p-a-t{
    display:none;
}

#aaa{
    display: block;
    width:30%;
}

#bbb{
    display:none;
    width:30%;
}