@media(max-width:1400px){


    .header-unit div{
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding:0px;
    }

    .inner-snd-snd{
        border:2px solid lightgray;
        border-radius: 20px 0px 20px 0px;
        width:30%;
        height:500px;
        margin:10px;
    }

    .container{
        width:80%;
        overflow:hidden;
        height:450px;
        margin-left: 0px;
        display: flex;
        border: 0px solid gray;
        position: relative;
        box-shadow: 0px 2px 5px 3px rgb(186, 192, 198);
    }
    
    .snd-inner-thr-purchase-div{
        width:100%;
        height:auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    
    .snd-inner-thr-purchase-div .inner-snd-snd{
        width:40%;
    }
    .fst-inner-thr-purchase-div{
        display: flex;
        flex-direction: column;
        border:1px solid gray;
        margin:0px;
    }

    .snd-fst-inner-inner-thr-purchase-div{
        display: flex;
        flex-direction: column;
        overflow: auto;
        border-left:0px solid gray;
        border-top: 1px solid gray;
        width:100%;
    }

    .ac-orders{
        overflow: auto;
    }
}

@media(max-width:1100px){

    header{
        width: 100%;
        height: auto;
        left: 0px;
        top: 0px;
        background: #23BDDF;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding:0px;
        
    }


    .logo-div{
        width:100%;
        height:50px;
        padding:5px 10px;
    }


    .omega-header-unit{
        width:100%;
        height:50px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-top:1px solid lightgray;
        padding:3px 10px;
    }
    

    .open-div{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items:center;
        font-size: 40px;
        color:white;
        width:50%;
        cursor: pointer;
    }


    .close-div{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items:flex-end;
        font-size: 40px;
        color:white;
        width:80%;
        cursor: pointer;
    }

    .header-unit img {
        margin:10px;
        display: flex;
        width:50px;
        height:50px;
    }

    .imgcat img{
        padding:0px;
        margin:0px;
        width:20px;
        height:20px;
        display: block;
    }
    
    .header-unit{
        width:100%;
        display: flex;
        visibility: hidden;
        position:fixed;top:0px;left:0px;
        background: #23BDDF;
        height:300px;
        overflow: auto;
        flex-direction: column;
        justify-content: space-around;
        z-index: 100;
    }

    .header-unit div{
        position: relative;
        display: flex;
        flex-direction: column;
        margin:10px;
        justify-content: space-evenly;
        padding:0px;
    }


    .header-unit button{
        background:none;
        color:white;
        border:1px solid white;
        border-radius: 20px;
        padding: 10px;
        width:100%;
    }

    .header-input{
        position: relative;
    }

    .header-input input{
        background:none;
        color:white;
        border:1px solid white;
        border-radius: 20px;
        padding: 10px 40px 10px 10px;
        width:100%;
        z-index: 0;
    }
    

    .snd-header-unit button{
        background:none;
        color:white;
        border:1px solid white;
        border-radius: 20px;
        padding: 10px;
        width:100px;
    }

    .pay-mtd{
        width:100%;
        height:auto;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }

    .fir-pay-mtd{
        width:auto;
        padding:20px;
        display: flex;
        flex-direction: column;
    }
    
    .sec-pay-mtd{
        width:auto;
        padding:20px;
        display: flex;
        flex-direction: column;
    }
}


@media(max-width:880px){

    header{
        width: 100%;
        height: auto;
        left: 0px;
        top: 0px;
        background: #23BDDF;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding:0px;
        
    }


    .logo-div{
        width:100%;
        height:50px;
        padding:5px 10px;
    }


    .omega-header-unit{
        width:100%;
        height:50px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-top:1px solid lightgray;
        padding:3px 10px;
    }
    

    .open-div{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items:center;
        font-size: 40px;
        color:white;
        width:50%;
        cursor: pointer;
    }


    .close-div{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items:flex-end;
        font-size: 40px;
        color:white;
        width:80%;
        cursor: pointer;
    }


    .header-unit img {
        margin:10px;
        display: flex;
        width:50px;
        height:50px;
    }

    .imgcat img{
        padding:0px;
        margin:0px;
        width:20px;
        height:20px;
        display: block;
    }
    
    .header-unit{
        width:100%;
        display: flex;
        visibility: hidden;
        position: absolute;top:0px;left:0px;
        background: #23BDDF;
        height:300px;
        overflow: auto;
        flex-direction: column;
        justify-content: space-around;
        z-index: 100;
    }

    .header-unit div{
        position: relative;
        display: flex;
        flex-direction: column;
        margin:10px;
        justify-content: space-evenly;
        padding:0px;
    }


    .header-unit button{
        background:none;
        color:white;
        border:1px solid white;
        border-radius: 20px;
        padding: 10px;
        width:100%;
    }

    .header-input{
        position: relative;
    }

    .header-input input{
        background:none;
        color:white;
        border:1px solid white;
        border-radius: 20px;
        padding: 10px 40px 10px 10px;
        width:100%;
        z-index: 0;
    }
    

    .snd-header-unit button{
        background:none;
        color:white;
        border:1px solid white;
        border-radius: 20px;
        padding: 10px;
        width:100px;
    }
    
    .after-fs-div{
        display: flex;
        flex-direction: column;
        padding:20px;   
    }

    .inner-pay-mtd{
        align-items: end;
    }

    .inner-pay-onl{
        background:white;
        position: absolute;
        padding:30px;
        font-weight: bold;
        margin:20px;
        margin-top: 100px;
    }

    .inner-pay-onl table tr td{
        padding:20px;
        width:100%;
        position: relative;
    }
    
    .container{
        width:100%;
        overflow:hidden;
        height:600px;
        margin-left: 0px;
        display: flex;
        border: 1px solid gray;
    }
    
    
    
    .img-container{
        width:100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height:100%;
    }
    
    .container .img-container img{
        display: none;
        width:auto;
        height:auto;
        position: absolute;
    }

    .container .img-container  img.active{
        display: flex;
        position: absolute;
    }

    
    
    .prev,.next{
        float: left;
        margin-top: 280px;
        cursor: pointer;
    }
    
    .prev{
        position: absolute;
        margin-left:20px;
        z-index: 1;
    }
    
    .next{
        position: absolute;
        margin-left:80%;
        float: right;
        z-index: 1;
    }
    
    
    .first-sec-div{
        width:100%;
        height:auto;
        display: flex;
        flex-direction: row;
        flex-wrap:wrap;
        justify-content: space-around;
        align-items: center;
    }


    .first-sec-div a{
        border-radius: 20px;
        border:1px solid black;
        width:40%;
        margin:5px;
        padding:10px;
        text-align: center;
    }

    .fst-snd{
        width:100%;
        height:auto;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        padding:20px;
    }
    
    .snd-snd{
        width:100%;
        height:auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    
    .thr-snd{
        width:100%;
        height: auto;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        padding:20px;
        justify-content:center;
       
    }

    .inner-snd-snd{
        border:2px solid lightgray;
        border-radius: 20px 0px 20px 0px;
        width:45%;
        height:500px;
        margin:10px;
    }


    .fth-snd{
        width:100%;
        height:auto;
        border-top:1px solid gray;
        display: flex;
        flex-direction: row;
        padding:30px;
        justify-content: space-around;
        align-items: center;
        overflow: auto;
    
    }

    .last-sec-div{
        width:100%;
        height:auto;
        background:  #DBDBDB;
        padding:20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    
    }
    
    .fst-last{
        border-bottom:1px solid gray;
        height:auto;
        width:100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

    
    }


    .snd-last{
        width:100%;
        height:auto;
        display: flex;
        flex-direction: row;
        overflow: auto;
    }
    
    .inner-snd-last{
        width:100%;
        height:100%;
        
    }

    footer{
        border-top: 1px solid gray;
        background:  #DBDBDB;
        padding:10px 30px;
        text-align: center;
        width:100%;
        height:auto;
    }

    .lr-div{
        width:100%;
        height:auto;
        display: flex;
        flex-direction: column;   
        justify-content: space-between;
        padding:30px;
    }

    .first-lr-div{
        display: flex;
        flex-direction: column;
        padding:0px;
        font-size: 20px;
        width:100%;
    }

    .first-lr-div li{
        list-style:url(../img/goodmk.png);
        font-size: 20px;
        padding:0px;
    }

    .snd-lr-div{
        border:5px solid lightgrey;
        width:100%;
        height:100%;
        border-radius: 10px;
    }
    

    .account-div{
        width:auto;
        height:auto;
        display: flex;
        flex-direction: column;
        margin:20px;
        margin-top: 150px;
    }

    .dashboard{
        display: none;
        flex-direction: row;
        justify-content: space-around;
        border-bottom:0px solid gray;
        padding:0px 20px;
        position: relative;top:0px;
        font-weight: bold;
        font-size: 18px;

    }

    .dashboard div{
        padding:20px 0px;
    }

    .content-acc{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding:20px;
        border-top:1px solid gray;
    }


    .list-adds{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    

    .acc-det table tr td div{
        width:100%;
        margin:20px 100px 0px 0px;
        float: left;
    }


    .open-dash{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items:center;
        font-size: 40px;
        color:grey;
        width:50%;
        cursor: pointer;
    }


    .close-dash{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items:flex-end;
        font-size: 40px;
        color:grey;
        width:80%;
        cursor: pointer;
    }

    .purchase{
        display: flex;
        flex-direction: column;
        width:100%;
        height:auto;
        justify-content: space-around;
        padding:0px;
    }

    .fst-purchase-div{
        width:100%;
        height:auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding:0px;
        border-bottom:1px solid gray;
        align-items: center;
    }


    .fst-inner-fst-purchase-div{
        width:100%;
        display:flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    
    .snd-inner-fst-purchase-div{
        width:50%;
        border:1px solid grey;
    }   

    .thr-inner-fst-purchase-div{
        width:100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .inner-snd-purchase-div{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        overflow: auto;
    }   

    .fst-inner-thr-purchase-div{
        display: flex;
        flex-direction: column;
        border:1px solid gray;
        margin:0px;
    }
    

    .fst-inner-inner-thr-purchase-div{
        display: flex;
        flex-direction: column;
        padding:10px;
        justify-content: center;
        align-items: center;
        width:100%;
    }
    
    
    .snd-fst-inner-inner-thr-purchase-div{
        display: flex;
        flex-direction: column;
        overflow: auto;
        border-left:0px solid gray;
        border-top: 1px solid gray;
        width:100%;
    }

    .snd-fst-inner-inner-thr-purchase-div div{
        display: flex;
        flex-direction: row;
        padding:0px;
    }


    .snd-fst-inner-inner-thr-purchase-div div p{
        display: flex;
        padding:5px;
    }

    .snd-inner-thr-purchase-div{
        width:100%;
        height:auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    
    
    }

    .snd-inner-thr-purchase-div .inner-snd-snd{
        width:45%;
    }

    .cart-section{
        width:100%;
        height:auto;
        display: flex;
        flex-direction: column;
        padding:0px;
    }

    .fst-inner-fcsd{
        width:100%;
        height:auto;
        display: flex;
        flex-direction: column;
        padding:20px;
        background: #C5C5C5;
        border: 1px solid #22FF53;
    }

    .fst-inner-fcsd span{
        float: right;
        border-left:0px solid black;
        padding-top: 20px;
        padding-left: 0px;
    }

    .snd-cart-sec-divs{
        display: flex;
        flex-direction: column;
        padding:20px 20px;
    }

    .snd-inner-scsd{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width:100%;
        overflow: auto;
    }

    .snd-cart-sec-divs p{
        padding:20px;
    }

    .thr-cart-sec-divs{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding:20px 20px;
    }

    .snd-inner-tcsd{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .fth-cart-sec-divs{
        background: #EDEDED;
        border: 1px solid #000000;
        width:100%;
        height:auto;
        margin:0px;
        padding:20px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        vertical-align: top;
    }
    
}


@media(max-width:400px){

    header{
        width: 100%;
        height: auto;
        left: 0px;
        top: 0px;
        background: #23BDDF;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding:0px;
        
    }


    .logo-div{
        width:100%;
        height:50px;
        padding:5px 10px;
    }


    .omega-header-unit{
        width:100%;
        height:50px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-top:1px solid lightgray;
        padding:3px 10px;
    }
    

    .open-div{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items:center;
        font-size: 40px;
        color:white;
        width:50%;
        cursor: pointer;
    }


    .close-div{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items:flex-end;
        font-size: 40px;
        color:white;
        width:80%;
        cursor: pointer;
    }

    .header-unit img {
        margin:10px;
        display: flex;
        width:50px;
        height:50px;
    }

    .imgcat img{
        padding:0px;
        margin:0px;
        width:20px;
        height:20px;
        display: block;
    }
    
    .header-unit{
        width:100%;
        display: flex;
        visibility: hidden;
        position: absolute;top:0px;left:0px;
        background: #23BDDF;
        height:400px;
        overflow: auto;
        flex-direction: column;
        justify-content: space-around;
        z-index: 100;
    }

    .header-unit div{
        position: relative;
        display: flex;
        flex-direction: column;
        margin:10px;
        justify-content: space-evenly;
        padding:0px;
    }


    .header-unit button{
        background:none;
        color:white;
        border:1px solid white;
        border-radius: 20px;
        padding: 10px;
        width:100%;
    }

    .header-input{
        position: relative;
    }

    .header-input input{
        background:none;
        color:white;
        border:1px solid white;
        border-radius: 20px;
        padding: 10px 40px 10px 10px;
        width:100%;
        z-index: 0;
    }
    

    .snd-header-unit button{
        background:none;
        color:white;
        border:1px solid white;
        border-radius: 20px;
        padding: 10px;
        width:100px;
    }
    

    .first-sec-div{
        width:100%;
        height:auto;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }


    .first-sec-div a{
        border-radius: 20px;
        border:1px solid black;
        width:90%;
        margin:5px;
        padding:10px;
        text-align: center;
    }

    .after-fs-div{
        display: flex;
        flex-direction: column;
        padding:20px;   
    }
    
    
    .container{
        width:100%;
        overflow:hidden;
        height:400px;
        margin-left: 0px;
        display: flex;
        border: 1px solid gray;
    }
    
    
    
    .img-container{
        width:100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height:100%;
    }
    
    .container .img-container img{
        display: none;
        width:auto;
        height:auto;
        position: absolute;
    }

    .container .img-container  img.active{
        display: flex;
        position: absolute;
    }

    
    .prev,.next{
        float: left;
        margin-top: 280px;
        cursor: pointer;
        display: none;
    }
    
    .prev{
        position: absolute;
        margin-left:20px;
        z-index: 1;
    }
    

    .next{
        position: absolute;
        margin-left:60%;
        float: right;
        z-index: 1;
    }


    .fst-snd{
        width:100%;
        height:auto;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        padding:20px;
    }
    
    .snd-snd{
        width:100%;
        height:auto;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
    }
    
    
    .thr-snd{
        width:100%;
        height: auto;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        padding:20px;
        justify-content:center;
       
    }

    .inner-snd-snd{
        border:2px solid lightgray;
        border-radius: 20px 0px 20px 0px;
        width:auto;
        height:500px;
        margin:10px;
    }


    .fth-snd{
        width:100%;
        height:auto;
        border-top:1px solid gray;
        display: flex;
        flex-direction: column;
        padding:30px;
        justify-content: space-around;
        align-items: center;
    
    }

    .last-sec-div{
        width:100%;
        height:auto;
        background:  #DBDBDB;
        padding:20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    
    }
    
    .fst-last{
        border-bottom:1px solid gray;
        height:auto;
        width:100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

    
    }


    .snd-last{
        width:100%;
        height:auto;
        display: flex;
        flex-direction: column;
    }
    
    .inner-snd-last{
        width:100%;
        height:100%;
        
    }

    footer{
        border-top: 1px solid gray;
        background:  #DBDBDB;
        padding:10px 30px;
        text-align: center;
        width:100%;
        height:auto;
    }

    .lr-div{
        width:100%;
        height:auto;
        display: flex;
        flex-direction: column;   
        justify-content: space-between;
        padding:30px;
    }

    .first-lr-div{
        display: flex;
        flex-direction: column;
        padding:0px;
        font-size: 20px;
        width:100%;
    }

    .first-lr-div li{
        list-style:url(../img/goodmk.png);
        font-size: 20px;
        padding:0px;
    }

    .snd-lr-div{
        border:5px solid lightgrey;
        width:100%;
        height:100%;
        border-radius: 10px;
    }
    

    .account-div{
        width:auto;
        height:auto;
        display: flex;
        flex-direction: column;
        margin:20px;
        margin-top: 150px;
    }

    .dashboard{
        display: none;
        flex-direction: row;
        justify-content: space-around;
        border-bottom:0px solid gray;
        padding:0px 20px;
        position: relative;top:0px;
        font-weight: bold;
        font-size: 18px;

    }

    .dashboard div{
        padding:20px 0px;
    }

    .content-acc{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding:20px;
        border-top:1px solid gray;
    }


    .list-adds{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    

    .acc-det table tr td div{
        width:100%;
        margin:20px 100px 0px 0px;
        float: left;
    }


    .open-dash{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items:center;
        font-size: 40px;
        color:grey;
        width:50%;
        cursor: pointer;
    }


    .close-dash{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items:flex-end;
        font-size: 40px;
        color:grey;
        width:80%;
        cursor: pointer;
    }

    .purchase{
        display: flex;
        flex-direction: column;
        width:100%;
        height:auto;
        justify-content: space-around;
        padding:0px;
    }

    .fst-purchase-div{
        width:100%;
        height:auto;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding:0px;
        border-bottom:1px solid gray;
    }


    .fst-inner-fst-purchase-div{
        width:100%;
        display:flex;
        flex-direction: row;
    
    }
    
    .snd-inner-fst-purchase-div{
        width:100%;
        border:1px solid grey;
    }   

    .thr-inner-fst-purchase-div{
        width:100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .inner-snd-purchase-div{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }   

    .fst-inner-thr-purchase-div{
        display: flex;
        flex-direction: column;
        border:1px solid gray;
        margin:0px;
    }
    

    .fst-inner-inner-thr-purchase-div{
        display: flex;
        flex-direction: column;
        padding:10px;
        justify-content: center;
        align-items: center;
        width:100%;
    }
    
    
    .snd-fst-inner-inner-thr-purchase-div{
        display: flex;
        flex-direction: column;
        overflow: auto;
        border-left:0px solid gray;
        border-top: 1px solid gray;
        width:100%;
    }

    .snd-fst-inner-inner-thr-purchase-div div{
        display: flex;
        flex-direction: row;
        padding:0px;
    }


    .snd-fst-inner-inner-thr-purchase-div div p{
        display: flex;
        padding:5px;
    }

    .snd-inner-thr-purchase-div{
        width:100%;
        height:auto;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    
    
    }

    .snd-inner-thr-purchase-div .inner-snd-snd{
        width:100%;
    }

    .inner-pay-mtd{
        align-items: end;
    }

    .inner-pay-onl{
        background:white;
        position: absolute;
        padding:30px;
        font-weight: bold;
        margin:20px;
    }

    .inner-pay-onl table tr td{
        padding:20px;
        width:100%;
        position: relative;
        float: left;
    }

    
    .cart-section{
        width:100%;
        height:auto;
        display: flex;
        flex-direction: column;
        padding:0px;
    }

    .fst-inner-fcsd{
        width:100%;
        height:auto;
        display: flex;
        flex-direction: column;
        padding:20px;
        background: #C5C5C5;
        border: 1px solid #22FF53;
    }

    .fst-inner-fcsd span{
        float: right;
        border-left:0px solid black;
        padding-top: 20px;
        padding-left: 0px;
    }

    .snd-cart-sec-divs{
        display: flex;
        flex-direction: column;
        padding:10px 10px;
        width:100%;
        height: auto;
        border:1px solid lightgray;
    }
    .fst-inner-scsd{
        display: flex;
        width:100%;
    }

    .snd-inner-scsd{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        overflow: auto;
        width:100%;
    }

    .snd-inner-scsd p{
        padding:20px;
    }
    .thr-cart-sec-divs{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding:20px 20px;
    }

    .snd-inner-tcsd{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .fth-cart-sec-divs{
        background: #EDEDED;
        border: 1px solid #000000;
        width:100%;
        height:auto;
        margin:0px;
        padding:20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        vertical-align: top;
    }
    
}